
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

    <title>Digital EDu</title>
    <style>
        body{
            background:url('assets/cod.jpg');
        }
       .picsum-img-wrapper img{
         height:400px;
         object-fit:cover;
       }
       
       
    </style>
  </head>
  <body>
    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/imag4.jpg"  alt="Random first slide" class="d-block w-100">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/imag5.jpg" alt="Random second slide" class="d-block w-100">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/imag6.jpg" alt="Random third slide" class="d-block w-100">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
      
     <div class="jumbotron">
       <div class="container">
       <div class="row">
         <div class="col">
           <h4 class="text-warning">AboutUS</h4>
           <h1 class="Capitalize">Learn at Your Own place</h1>
         </div>
         <div class="col">
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi reprehenderit nulla quae ratione qui modi dolore debitis magnam labore iure exercitationem voluptatibus facere asperiores sequi hic, inventore, libero harum ipsum.</p>
         </div>
         <div class="col">
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi! Dolore hic tenetur quis sunt amet deserunt facilis quam, consectetur commodi minus aliquam eius maxime a explicabo possimus. Animi, accusamus?</p>
         </div>
        </div>
        </div>
        </div>
        <div class="jumbotron">
        <div class="container">
         <div class="row">
           <div class="col">
             <div class="card ">
               <img src="assets/img4.jpg" alt="" width="300px" class="card-img-top">
               <div class="card-body">
                 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, harum.</p>
               </div>
             </div>
           </div>
           <div class="col">
            <div class="card ">
              <img src="assets/img5.jpg" alt="" width="300px" class="card-img-top">
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, harum.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card ">
              <img src="assets/img6.jpg" alt="" width="300px" class="card-img-top">
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, harum.</p>
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
    <div class="container">
     <div class="row">
          <div class="col">
            <i class="far fa-smile-wink"></i>
            <div class="num">1246</div>
            Speakers
          </div>
  
          <div class="col">
            <i class="fas fa-briefcase"></i>
            <div class="num">19</div>
            Services
          </div>
  
          <div class="col">
            <i class="far fa-money-bill-alt"></i>
            <div class="num">687</div>
            Sells
          </div>
  
          <div class="col">
            <i class="far fa-object-group"></i>
            <div class="num">87</div>
            Templates
          </div>
        </div>
      </div>
      
  

    
  
    <!-- Footer -->
    <footer  class="bg-dark text-center text-white">
      <div class="row">
          <div class="col">
              <h3>EDu</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates voluptatem omnis officiis delectus! Unde, sit!</p>
              <section class="mb-4">
                  <!-- Facebook -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
            
                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-twitter"></i
                  ></a>
            
                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-google"></i
                  ></a>
            
                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-instagram"></i
                  ></a>
            
                  <!-- Linkedin -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
            
                  <!-- Github -->
                  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-github"></i
                  ></a>
                </section>
          </div>
          <div class="col">
              <h3>Meta</h3>
              <p>Log in</p>
              <p>Entries feed</p>
              <p>Comments feed</p>
          </div>
          <div class="col">
              <h3>Categories</h3>
              <p>Education</p>
              <p>Learning</p>
              <p>Online education</p>
          </div>
          <div class="col">
              <h3>Contact Info</h3>
              <p>Address : DigitalEdu, 343 Honey Avenue street, NY - 62617.</p>
              <p>Phone : +12 23456799</p>
              <p>Email : info@example.com</p>
          </div>
      </div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2020 Copyright:
  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>
<!-- Copyright -->
</footer>
    
  
  
    <script type="text/javascript">
      $(".num").counterUp({delay:10,time:1000});
    </script>
     
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>